*{
    margin:0;
    background-color:  #242582;
    color: aliceblue;
}
nav{
    margin-top: 20px;
    height: 55px;
    background-color:  #242582;
    color: rgba(240, 248, 255, 0.438);
    box-shadow:0px 6px 8px rgba(21, 21, 21, 0.337);
    
}

.logo{
    margin-left: 3vw;
     border-radius: 30px;
    float: left;
    
    display: flex;
    align-items: center;
    margin-left: 4vw;
} 
.logo> img{
    margin-left: 2vw;
    height: 50px;
    
}
.left{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     border-radius: 30px;
     margin-right:  5vw ;
    
    }
li,a{
    margin:3px;
    list-style-type: none; 
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    background-color: brown;
    border-radius: 7px;

}
li>a.active{
    background-color: rgb(141, 219, 8);
    border-radius: 7px;  
}
.grid{
    margin:4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image1{
    justify-self: center;
}
.image1>img{
    width: 30vw;
    height: 30vw;
   
}


.grid_text{
    
    justify-self: start;
    align-self: center;
    font-size: 3vw;

}
.grid_text>span{
    color:rgb(255, 126, 126) ;
    font-size: 3vw;
}
.grid_text>h1{
    justify-self: end;
}
.about_text
{
    justify-self:start;
    align-self: center ;
    font-size: 25px;
}
.middle{

    background-color: #242582;
}
.container{
    height: 200px;
    text-align: center;
    border: 3px solid red;
    margin: auto;
    margin: auto;
    
}



.beach_img>img{
    border-radius: 50px;
    width:200px; 
    height: 200px;
}



.about_container {
    padding: 30px;
    width:200px;
    border: 2px solid red;
    border-radius: 30px ;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
    
}
.contact_heading{
    margin-top: 20px;
}
.contact{
    width:400px;
    height: 200px;
    border: 2px solid red;
    border: 2px solid red;
    border-radius: 30px ;
     margin: auto;
     margin-top: 50px;
    align-items: baseline;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items:center;

}

.mobile_mode{
   visibility: hidden;
   
   
}
.phone,.github{
    width: 60px;
    height: 60px;
    
}
.phone_no{
    visibility: visible;
    
    margin-right: 19px;
    
}
.mobile_mode,.contact_heading{
    display: flex;
    justify-content: center;
    
}

.gallery_grid{
    display: grid;
    margin-top: 10px;
     margin-left: 18vw;
     margin-right: 18vw;
     margin-bottom: 30px;
     bottom: 30px;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
 
    grid-template-rows: minmax(250px,auto);
    
    grid-template-areas: 
    "a a b b"
    "a a c c"
    "e e d d"
    ;
}
.gallery_grid div img{ 
    color: #f6b54c;
    background-color: black;
    object-fit: cover;
}

.item1{
    grid-area: a;   
}
.item1>img{
    width: 100%;
    height: 100%;
}
.item2{
    grid-area: b;
}
.item2>img{
    width: 100%;
    height: 100%;
}
.item3{
    grid-area: c;
}
.item3>img{
    width: 100%;
    height: 100%;
}
.item4{
    grid-area: d;
}
.item4>img{
    width: 100%;
}
.item5{
    grid-area: e;
}
.item5>img{
    width: 100%;
}
.copyright{
   
    color: white; 
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color:  rgba(2, 2, 2, 0.388);
    padding: 4px;
    width:99.50%;
}
@media (max-width:500px) { 
   
   
    
    .logo{ 
       
        margin-left: 3vw;
         border-radius: 30px;
        float: left;
        
        
       
        display: flex;
        align-items: center;
        margin-left: 4vw;
       
        
    } 
    .logo> img{
        margin-left: 2vw;
        height: 50px;
        display: none;
        border-radius: 4px solid ;
    }
    
    
    
}
@media (min-width:750px) { 

    .mobile_mode{
        visibility: visible;
    }
    .phone_no{
        display: none;
    }
    .gallery_grid{
        display: grid;
         margin-left: 20vw;
         margin-right: 20vw;
         margin-bottom: 30px;
         bottom: 30px;
        grid-template-columns: repeat(4,1fr);
        gap:20px;
     
        grid-template-rows: minmax(250px,auto);
        
        grid-template-areas: 
        "a a b b"
        "a a c c"
        "a a d d"
        "a a e e"
        ;
    }
}

